<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<br><br>
<div><a href="/klant/klantenoverzicht">Terug naar klant overzicht</a></div>
<br><br>
<body>
	<div>
		<h4>Nieuwe adres toevoegen</h4>
		<p><b>Graag velden invullen:</b></p>
		<form class="bodyForm" method="POST" action="/adres/maakadres" th:action="@{/adres/maakadres}" th:object="${adres}">
			<br><br>
			<div>
				<select th:field="*{adresSoort}">
					<option th:each="adresSoort: ${T(com.rsvier.workshop.domein.Adres.AdresSoort).values()}"
							th:value="${adresSoort}"
							th:text="${adresSoort}"></option>
				</select>
			</div>
			<div>
				<br><br>
				<label class="labelForm" for="straatnaam">Straatnaam:</label>
				<input class="inputForm" type="text" th:field=*{straatnaam} />
				<span class="validationError" th:if="${#fields.hasErrors('straatnaam')}" th:errors="*{straatnaam}"></span>
				<br><br>
				<label class="labelForm" for="huisnummer">Huisnummer:</label>
				<input class="inputForm" type="number" th:field=*{huisnummer} />
				<span class="validationError" th:if="${#fields.hasErrors('huisnummer')}" th:errors="*{huisnummer}"></span>
				<br><br>
				<label class="labelForm" for="toevoeging">Toevoeging</label>
				<input class="inputForm" type="text" th:field=*{toevoeging} />
				<span class="validationError" th:if="${#fields.hasErrors('toevoeging')}" th:errors="*{toevoeging}"></span>
				<br><br>
				<label class="labelForm" for="poscode">Postcode:</label>
				<input class="inputForm" type="text" th:field=*{postcode} />
				<span class="validationError" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"></span>
				<br><br>
				<label class="labelForm" for="woonplaats">Plaats:</label>
				<input class="inputForm" type="text" th:field=*{woonplaats} />
				<span class="validationError" th:if="${#fields.hasErrors('woonplaats')}" th:errors="*{woonplaats}"></span>
				<br><br>
			</div>
			<div>
				<br><br>
				<input class="button" type="submit" value="opslaan" />
			</div>
		</form>
	</div>
</body>
</html>