<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<br><br>
<div>
	<a href="/klant/klantenoverzicht">terug naar klantenoverzicht</a>
</div>
<br><br>
<div>
	<a href="#" data-th-href="@{/adres/adresaangeven(id=${persoonId})}">nieuwe adres toevoegen</a>
</div>
<br><br>
<div th:if="${adresList == null or #lists.isEmpty(adresList)}">
	<div><p>List is leeg</p></div>
</div>
<div th:if="${adresList != null or not #list.isEmpty(adresList)}">
	<table>
		<tr>
			<th>Straatnaam</th>
			<th>Huisnummer</th>
			<th>Toevoeging</th>
			<th>Postcode</th>
			<th>Woonplaats</th>
			<th>Adres soort</th>
			<th>Actie</th>
		</tr>
		<tr data-th-each="adres: ${adresList}">
			<td data-th-text="${adres.straatnaam}"></td>
			<td data-th-text="${adres.huisnummer}"></td>
			<td data-th-text="${adres.toevoeging}"></td>
			<td data-th-text="${adres.postcode}"></td>
			<td data-th-text="${adres.woonplaats}"></td>
			<td data-th-text="${adres.adresSoort}"></td>
			<td><a href="#" data-th-href="@{/adres/adresupdaten(id=${adres.id})}">adres wijzigen</a></td>
		</tr>
	</table>
</div>
</body>
</html>