<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Artikel aanpassen</title>
    </head>
    <body>
        <h1>Pas een artikel aan</h1>
        
            <form name='f' th:object="${artikel}" method='POST' action="/artikelgewijzigd" th:action="@{/artikelgewijzigd}"}>
                <table>
                    <tr>
                        <td>
                            <input type="hidden" th:value= "${artikel.Id}"th:field="*{id}" />
                            <span class="validationError"
                            th:if="${#fields.hasErrors('id')}"
                            th:errors="*{id}">Id Error</span>
                        </td>
                        <td><label for="naam">Naam:</label>
                            <input type="text" th:value= "${artikel.Naam}"th:field="*{naam}" />
                            <span class="validationError"
                            th:if="${#fields.hasErrors('naam')}"
                            th:errors="*{naam}">Naam Error</span>
                        </td>
                        <td>
                            <label for="prijs">Prijs:</label>
                            <input type="text" th:value= "${artikel.Prijs}"th:field="*{prijs}" />
                            <span class="validationError"
                            th:if="${#fields.hasErrors('prijs')}"
                            th:errors="*{prijs}">Prijs Error</span>
                        </td>
                        <td>
                            <label for="voorraad">Voorraad:</label>
                            <input type="text" th:value= "${artikel.Voorraad}"th:field="*{voorraad}" />
                            <span class="validationError"
                            th:if="${#fields.hasErrors('voorraad')}"
                            th:errors="*{voorraad}">Voorraad Error</span>
                        </td>
                           
                    </tr>

                    <tr>
                        <td><input name="submit" type="submit" value="Pas aan" /></td>
                    </tr>
                </table>
            </form>
        
    </body>
</html>
