<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Artikel toegevoegd</title>
    </head>
    <body>
        <h1>Dit artikel is toegevoegd aan de database:</h1>
        <p th:text="'Naam: ' + ${artikel.naam}" />
        <p th:text="'Prijs: €' + ${artikel.prijs}" />
        <p th:text="'Voorraad: ' + ${artikel.voorraad}" />
        <p><a href="/artikelformulier">Voeg nog een artikel toe</a></p>
        <p><a href="/">Terug naar het hoofdmenu</a></p>
    </body>
</html>