<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikelmenu</title>
</head>
<body>
    <h1>Artikelmenu</h1>

    <div>
        <h3>Menu</h3>
        <p><a href="/artikelformulier">Nieuw artikel toevoegen</a></p>
        <p><a href="/artikeleditformulier">Artikel aanpassen</a></p>
        <p><a href="/artikeldeleteformulier">Artikel verwijderen</a></p>
        <p><a href="/">Terug naar home</a></p>
    </div>
	
</body>
</html>