<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Artikel aanpassen</title>
    </head>
    <body>
        <div th:if="${artikelen != null and not #lists.isEmpty(artikelen)}">
            <h1>Pas een artikel aan</h1>
            <form th:object="${artikel}" method='GET' action="/artikeledit" th:action="@{/artikeledit}">
                <label>Selecteer artikel:</label>
                <select th:field="*{id}">
                    <option th:each="dropDownItem : ${artikelen}"
                            th:value="${dropDownItem.Id}"
                            th:utext="${dropDownItem.Naam}"/>
                    </select>

                <p><button type="submit">Wijzigen</button></p>
            </form>
        </div>
        <div th:if="${artikelen == null or #lists.isEmpty(artikelen)}">
            <div><a href="/artikelformulier">Geen artikelen gevonden, voeg eerst iets toe</a></div>
        </div>
    </body>
</html>