<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Artikel verwijderd</title>
    </head>
    <body>
        <h1>Het volgende artikel is verwijderd:</h1>
        <p th:text="'Naam: ' + ${artikel.naam}" />
        <p th:text="'Prijs: €' + ${artikel.prijs}" />
        <p th:text="'Voorraad: ' + ${artikel.voorraad}" />
        <p><a href="/artikeldeleteformulier">Verwijder nog een artikel</a></p>
        <p><a href="/artikel">Terug naar het artikelmenu</a></p>
        <p><a href="/">Terug naar het hoofdmenu</a></p>
    </body>
</html>