<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Artikel aan bestellling toevoegen</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>

        <h1 data-th-text="${'Pas dit onderdeel van bestelling met factuurnummer ' + bestelling.factuurnummer + ' aan'}"></h1>

        <div th:if="${artikellijst == null or #lists.isEmpty(artikellijst)}">
            <p><a href="/artikelformulier">Er staan nog geen artikelen in het systeem, voeg deze eerst toe</a></p>
        </div>

        <div th:if="${artikellijst != null and not #lists.isEmpty(artikellijst)}">    
            <form class="bodyForm" method="POST" th:object="${bestelregel}" th:action="@{/bestelling/add/edit}">
                <label>Artikel:</label>
                <select th:field="*{artikel}">
                    <option th:each="artikeloptie : ${artikellijst}"
                            th:value="${artikeloptie.id}"
                            th:utext="${artikeloptie.naam + ' €' + artikeloptie.prijs + ' (voorraad: ' + artikeloptie.voorraad + ')'}"/>
                </select>
                <label class="labelForm" for="aantal" th:value="${bestelregel.aantal}"> Aantal:</label>
                <input class="inputForm" type="text" th:field="*{aantal}"/>
                <input type="hidden" th:value= "${bestelling.id}"th:field="*{bestelling}" />
                <input type="hidden" th:value= "${bestelregel.id}"th:field="*{id}" />

                <p><input class="button" type="submit" value="Pas aan" /> <input class="button" type="reset" value="Reset" /></p> 
            </form>
        </div>    
        
        <p><a href="#" data-th-href="@{/bestelling/edit(id=${bestelling.id})}">Terug naar bestelling</a></p>
        <p><a href="/bestelling">Terug naar bestellingenoverzicht</a></p>
        <p><a href="/">Terug naar home</a></p>
    
    </body>
</html>