<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div><a href="/">Terug naar home</a></div>
	<div th:if="${persoonList == null or #lists.isEmpty(persoonList)}">
		<div><a href="register">Voeg klant toe</a></div>
	</div>
	<div th:if="${persoonList != null or not #lists.isEmpty(persoonList)}">
		<h2>Klantenoverzicht</h2>
		<table>
			<tr>
				<th>Voornaam</th>
				<th>Tussenvoegsel</th>
				<th>Achternaam</th>
				<th>Geboortedatum</th>
				<th>Status</th>
				<th>Adres</th>
				<th>Wijzigen</th>
				<th>Verwijderen</th>
			</tr>
			<tr data-th-each="persoon: ${persoonList}">
				<td data-th-text="${persoon.voorNaam}"></td>
				<td data-th-text="${persoon.tussenVoegsel}"></td>
				<td data-th-text="${persoon.achterNaam}"></td>
				<td data-th-text="${persoon.geboorteDatum}"></td>
				<td data-th-text="${persoon.persoonStatus}"></td>
				<td><a href="#" data-th-href="@{/klant/adresoverzicht(id=${persoon.id})}">adres info</a></td>
			</tr>
		</table>
	</div>
</body>
</html>