<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div><a href="/">Terug naar home</a></div>
	<div><a href="/klant">Terug naar klantmenu</a></div>
	<br><br>
	<div th:if="${persoonList == null or #lists.isEmpty(persoonList)}">
		<div><span>lijst is leeg: </span><a href="/klant/klantformulier">voeg een klant toe</a></div>
	</div>
	<div th:if="${persoonList != null or not #lists.isEmpty(persoonList)}">
		<h2>Klantenoverzicht</h2>
		<table>
			<tr>
				<th>Voornaam</th>
				<th>Tussenvoegsel</th>
				<th>Achternaam</th>
				<th>Geboortedatum</th>
				<th>Status</th>
				<th>Adres</th>
				<th>Actie</th>
				<th>Actie</th>
				<th>Actie</th>
			</tr>
			<tr data-th-each="persoon: ${persoonList}">
				<td data-th-text="${persoon.voorNaam}"></td>
				<td data-th-text="${persoon.tussenVoegsel}"></td>
				<td data-th-text="${persoon.achterNaam}"></td>
				<td data-th-text="${persoon.geboorteDatum}"></td>
				<td data-th-text="${persoon.persoonStatus}"></td>
				<td><a href="#" data-th-href="@{/adres/adresoverzicht(id=${persoon.id})}">adres info</a></td>
				<td><a href="#" data-th-href="@{/klant/edit(id=${persoon.id})}">update</a></td>
				<td th:if="${persoon.persoonStatus.name()} == 'ACTIEF'">
					<a href="#" data-th-href="@{/klant/wijzigstatus(id=${persoon.id})}">inactief maken</a>
				</td>
				<td th:if="${persoon.persoonStatus.name()} == 'INACTIEF'">
					<a href="#" data-th-href="@{/klant/wijzigstatus(id=${persoon.id})}">actief maken</a>
				</td>
				<td th:if="${persoon.persoonStatus.name()} == 'INACTIEF'">
					<a href="#" data-th-href="@{/klant/delete(id=${persoon.id})}">delete</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>