<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Applikaassie2</title>
</head>
<body>
	<h1>Klanten zaken:</h1>
	<div>
		<a href="klantformulier"><b>Nieuwe klant toevoegen<b></a>
	</div>
	<div>
		<p><b>Klanten overzicht maken</b></p>
		<form method="GET" action="/klantenoverzicht" th:action="@{/klantenoverzicht}" th:object="${statusName}">
			<select th:field="${statusName}">
				<option th:each="statusName: ${persoonStatusNames}" th:value="${statusName}" th:text="${statusName}"></option> 
			</select>
			<br><br>
			<input type="submit" value="select" name="select">
		</form>
	</div>
</body>
</html>