<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<head>
<meta charset="UTF-8">
<title>Applikaassie2</title>
</head>
<body>
	<h1>Invullen:</h1>
	
	<form method="POST" action="/register" th:action="@{/register}" th:object="${persoon}">
		<div>
			<label for="voorNaam">Voornaam:</label>
			<input type="text" th:field=*{voorNaam} />
			<br><br>
			<label for="achterNaam">Achternaam:</label>
			<input type="text" th:field=*{achterNaam} />
			<br><br>
			<label for="tussenVoegsel">Tussenvoegsel</label>
			<input type="text" th:field=*{tussenVoegsel} />
			<br><br>
			<label for="geboorteDatum">Geboortedatum:</label>
			<input type="date" th:field=*{geboorteDatum} />
		</div>
		<div>
			<h3>Woonadres</h3>
			<label for="straatnaam">Straatnaam:</label>
			<input type="text" th:field=*{adresCollection[0].straatnaam} />
			<br><br>
			<label for="huisnummer">Huisnummer:</label>
			<input type="text" th:field=*{adresCollection[0].huisnummer} />
			<br><br>
			<label for="toevoeging">Toevoeging:</label>
			<input type="text" th:field=*{adresCollection[0].toevoeging} />
			<br><br>
			<label for="postcode">Postcode:</label>
			<input type="text" th:field=*{adresCollection[0].postcode} />
			<br><br>
			<label for="woonplaats">Woonplaats:</label>
			<input type="text" th:field=*{adresCollection[0].woonplaats} />
			<br><br>
		</div>
		<div>
			<label for="gebruikersnaam">Gebruikersnaam:</label>
			<input type="text" th:field=*{gebruikersnaam} />
			<br><br>
			<label for="wachtwoord">Voornaam:</label>
			<input type="text" th:field=*{wachtwoord} />
			<br><br>
		</div>
		<input type="submit" value="register" />
		
	</form>
</body>
</html>