<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inloggen</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Log in</h1>
        
        <div th:if="${error}">
            Inloggen mislukt. Voer gebruikersnaam en wachtwoord opnieuw in.
        </div>
        
        <p><a th:href="@{/register}">Registreer een nieuwe medewerker</a></p>
        <br><br>
        <h3>Inloggen:</h3>
        <form class="bodyForm" method="POST" th:action="@{/login}">
            <label class="labelForm" for="username">Gebruikersnaam: </label>
            <input class="inputForm" type="text" name="gebruikersnaam"/><br/>
            <label class="labelForm" for="password">Wachtwoord: </label>
            <input class="inputForm" type="password" name="wachtwoord"/><br/>
            <input class="button" type="submit" value="Login"/>
        </form>
    
    </body>
</html>