@charset "UTF-8";

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: underline}
a:active { color: #000000; text-decoration: none}

.validationError {
	color: red;
}

.fieldset-auto-width {
         display: inline-block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}

th {
	background-color: lightgrey;
}

/**
p	{ 
	display: table-row;  
}	*/

form  { 
	display: table;
	border-radius: 5px;
    	background-color: #f2f2f2;
    	padding: 20px;
    	width: 50%    	  
}

.labelForm { 
	display: inline-block; 
	text-align: right;
	margin-bottom: 5px;
}

.inputForm { 
	display: table-cell;
	background-color: white;
   	border: none;
    	border-radius: 9px; 		
}

.button:hover {
	background-color: lightgrey;
	color: white;
}







